*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
body {
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
@font-face {
    font-family: myFONT;
    src: url(font/fontsvn.ttf);
}
.content {
    width: 24em;
    height: 5em;
    border-radius: 1em;
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3em;
    font-family: myFONT;
    flex-direction: column;
    transition: 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
}
.search{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}
.search input{
    height: 4em;
    border-radius: 30px;
    flex: 1;
    outline: 0;
    border: 0;
    background-color: #599200;
    color: white;
    padding-left: 20px;
    font-family: myFONT;
}
input::placeholder {
    color: white;
}
.search button{
    border-radius: 50%;
    border: 0;
    height: 4em;
    width: 4em;
    align-items: center;
    justify-content: center;
}
.search button img{
    height: 3em;
    width: 3em;
}
.weather{
    margin-top: 4em;
    display: none;
}
.weather img{
    margin-top: 3em;
    height: 7em;
    width: 7em;
}
.descrip{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.error{
    font-size: 2em;
    margin: 0;
    padding-top: 1em;
    display: none;
}
@media only screen and (max-width: 600px) {
    .city{
        font-size: 25px;
    }
    .descrip > h1{
        font-size: 25px;
    }
    .content{
        width: 20em;
    }
}